<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-success">
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Ingresar</h5>
                <form action="/login" method="post">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="user" id="user" placeholder="Usuario">
                    <label for="floatingInput">Usuario</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-success btn-login text-uppercase fw-bold" type="submit">Sign
                      in</button>
                  </div>
                  <div class="d-grid">
                    <a href="/register" class="btn btn-success btn-login text-uppercase fw-bold mt-2">Register</a>
                  </div>
                  <div class="d-grid">
                    <a href="/auth/google" class="btn btn-success btn-login text-uppercase fw-bold mt-2">Sing in with Google</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <% if(alert){ %>
      <script>
        Swal.fire({
          icon: '<%=alertIcon%>',
          title: '<%=alertTitle%>',
          text: '<%=alertMessage%>',
          showConfirmButton: '<%=showConfirmButton%>',
        }).then(()=>{
          window.location = '/<%=ruta%>'
        })
      </script>
    <% } %>
</body>
</html>