<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <title>Registrate</title>
</head>
<body class="">
    <div class="container">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Registro</h5>
                <form action="#" method="post" class="needs-validation" novalidate>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" value="<%=formData.data ? formData.name : ''%>" pattern="[a-zA-ZñÑ ]{2,50}" required>
                    <label for="floatingInput">Nombre</label>
                    <div class="invalid-feedback">
                      El nombre no debe estar vacio y solo debe contener letras
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellido" value="<%=formData.data ? formData.lastname : ''%>" pattern="[a-zA-ZñÑ ]{2,50}">
                    <label for="floatingInput">Apellido</label>
                    <div class="invalid-feedback">
                      El apellido solo debe contener letras
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="user" id="user" placeholder="Email" value="<%=formData.data ? formData.user : ''%>" required>
                    <label for="floatingInput">Email</label>
                    <div class="invalid-feedback">
                      El correo debe estar en etse formato pepito_perez@micorreo.com
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required pattern="\w{8,16}">
                    <label for="floatingPassword">Contraseña</label>
                    <div class="invalid-feedback">
                      La Contraseña debe ser de entre 8 a 16 caracteres
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Confirmar Contraseña" required pattern="\w{8,16}">
                    <label for="floatingPassword">Confirmar Contraseña</label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-success btn-login text-uppercase fw-bold mt-2" type="submit">Register</button>
                  </div>
                  <div class="d-grid">
                    <a href="/auth/google" class="btn btn-success btn-login text-uppercase fw-bold mt-2">Sing in with Google</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
    <script src="/js/functions.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <% if(alert){ %>
      <script>
        Swal.fire({
          icon: '<%=alertIcon%>',
          title: '<%=alertTitle%>',
          text: '<%=alertMessage%>',
          showConfirmButton: '<%=showConfirmButton%>',
        }).then(()=>{
          window.location = '/<%=ruta%>'
        })
      </script>
    <% } %>
</body>
</html>